$accent: #A216BB;
$bg: #222222;
$black: #000000;
$dark: #616161;
$discord-bluish: #7289DA;
$footer: #0f0f0f;
$gold: #dfe94e;
$green: #76c893;
$grey: #dbdbdb;
$header-color: #181818;
$hover: lighten(#A216BB, 15);
$pink-lighten: #f084de;
$pink: #fc00ff;
$red: #ef233c;
$scrollbar-thumb-hover: #555;
$scrollbar-thumb: #888;
$scrollbar-track: #f1f1f1;
$white: #ffffff;
$winner: #f5cb5c;
$bronze: #7f5539;
$silver: #ced4da;
$code: #474747;
